In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import difflib

In [2]:
# read in "private_successful_matches.csv"
df = pd.read_csv("private_successful_matches.csv")
df

,SchoolName,Address,ZipCode,LATITUDE,LONGITUDE,COUNTA of Level,Matched Score,Matched School,PSS_SCHOOL_ID,PSS_INST,...,PSS_ASIAN_PCT,PSS_HISP_PCT,PSS_BLACK_PCT,PSS_WHITE_PCT,PSS_PACISL_PCT,PSS_TWOMORE_PCT,PSS_STUDENT_TEACHER_RATIO,PSS_ORIENT,PSS_COUNTY_NAME,Matched Address
0,ACADEMY OF MOUNT SAINT URSULA,330 BEDFORD PARK BLVD FL 1ST,10458.0,40.869088,-73.884837,0,95,ACADEMY OF MOUNT ST URSULA,00920855,ACADEMY OF MOUNT ST URSULA,...,5.19,63.66,26.98,2.76,0.0,1.38,15.62,1,BRONX,NaN
1,ACADEMY OF ST. DOROTHY,1305 HYLAN BOULEVARD,10305.0,40.597122,-74.085236,3,98,ACADEMY OF ST DOROTHY,00920174,ACADEMY OF ST DOROTHY,...,6.21,3.38,3.95,85.31,0.0,0.00,18.63,1,RICHMOND,NaN
2,AHI EZER YESHIVA,2433 OCEAN PARKWAY,11235.0,40.590242,-73.965316,4,95,AHI EZER YESHIVA SCHOOL,00936162,AHI EZER YESHIVA SCHOOL,...,0.00,0.00,0.00,100.00,0.0,0.00,8.68,18,KINGS,NaN
3,AL IMAN SCHOOL,8989 VAN WYCK EXPY,11435.0,40.700908,-73.815220,7,100,AL-IMAN SCHOOL,A9104867,AL-IMAN SCHOOL,...,77.77,0.00,2.77,11.11,0.0,8.33,5.90,17,QUEENS,NaN
4,AL-IHSAN ACADEMY,130-08 ROCKAWAY BOULEVARD,11420.0,40.674962,-73.808309,1,100,AL-IHSAN ACADEMY,A9300668,AL-IHSAN ACADEMY,...,77.77,0.00,4.96,17.25,0.0,0.00,11.13,17,QUEENS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YESHIVAT LEV TORAH,3300 KINGS HIGHWAY,11234.0,40.618713,-73.942292,4,100,NaN,A9903303,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,...,0.00,0.00,0.00,100.00,0.0,0.00,6.32,18,KINGS,3300 KINGS HIGHWAY
497,YESHIVAT OHEL TORAH,2600 OCEAN AVENUE,11229.0,40.598150,-73.951186,2,94,NaN,00943737,BROOKLYN SEVENTH-DAY ADVENTIST SCHOOL,...,0.00,0.00,94.93,0.00,0.0,5.06,13.16,28,KINGS,1260 OCEAN AVENUE
498,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,A0902443,YESHIVA SHAARE TORAH,...,0.00,0.00,0.00,100.00,0.0,0.00,10.58,18,KINGS,1680 CONEY ISLAND AVENUE
499,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,BB161782,YESHIVA SHAARE TORAH,...,0.00,0.00,0.00,100.00,0.0,0.00,6.64,18,KINGS,1680 CONEY ISLAND AVENUE
500,YESHUOS MOSHE OF WILLIAMSBURG,77 WALLABOUT STREET,11249.0,40.699488,-73.958573,4,95,NaN,A1702685,TALMUD TORAH TZEMACH TZADIK VIZNITZ,...,0.00,0.00,0.00,100.00,0.0,0.00,8.52,18,KINGS,7787 WALLABOUT STREET

In [9]:
# display all columns
pd.set_option('display.max_columns', None)
df

,SchoolName,Address,ZipCode,LATITUDE,LONGITUDE,COUNTA of Level,Matched Score,Matched School,PSS_SCHOOL_ID,PSS_INST,LoGrade,HiGrade,PSS_ADDRESS,PSS_CITY,PSS_COUNTY_NO,PSS_COUNTY_FIPS,PSS_STABB,PSS_STATE_CODE,PSS_ZIP5,PSS_PHONE,DAYS PER SCHOOL YEAR,DAY HOURS,PSS_LIBRARY,PSS_ENROLL_UG,PSS_ENROLL_PK,PSS_ENROLL_K,PSS_ENROLL_T,PSS_RACE_ AMERICAN_INDIAN,PSS_RACE_ASIAN/PACIFIC,PSS_RACE_HISPANIC,PSS_RACE_BLACK,PSS_RACE_WHITE,PSS_RACE_PACIFIC,PSS_RACE_MULTICULTURAL,PSS_FULLTIME_TEACH,PSS_COEDUCATION,PSS_LEVEL,PSS_RELIG,PSS_INDIAN_PCT,PSS_ASIAN_PCT,PSS_HISP_PCT,PSS_BLACK_PCT,PSS_WHITE_PCT,PSS_PACISL_PCT,PSS_TWOMORE_PCT,PSS_STUDENT_TEACHER_RATIO,PSS_ORIENT,PSS_COUNTY_NAME,Matched Address
0,ACADEMY OF MOUNT SAINT URSULA,330 BEDFORD PARK BLVD FL 1ST,10458.0,40.869088,-73.884837,0,95,ACADEMY OF MOUNT ST URSULA,00920855,ACADEMY OF MOUNT ST URSULA,14,17,330 BEDFORD PARK BOULEVARD,BRONX,36005,5,NY,36,10458,7183645353,181.0,7.00,Yes,NaN,NaN,NaN,289.0,0.0,15.0,184.0,78.0,8.0,0.0,4.0,18.5,2,2,1,0.00,5.19,63.66,26.98,2.76,0.0,1.38,15.62,1,BRONX,NaN
1,ACADEMY OF ST. DOROTHY,1305 HYLAN BOULEVARD,10305.0,40.597122,-74.085236,3,98,ACADEMY OF ST DOROTHY,00920174,ACADEMY OF ST DOROTHY,2,13,1305 HYLAN BOULEVARD,STATEN ISLAND,36085,85,NY,36,10305,7183510939,180.0,6.75,No,NaN,14.0,13.0,191.0,2.0,11.0,6.0,7.0,151.0,0.0,0.0,9.5,1,1,1,1.12,6.21,3.38,3.95,85.31,0.0,0.00,18.63,1,RICHMOND,NaN
2,AHI EZER YESHIVA,2433 OCEAN PARKWAY,11235.0,40.590242,-73.965316,4,95,AHI EZER YESHIVA SCHOOL,00936162,AHI EZER YESHIVA SCHOOL,2,13,2433 OCEAN PARKWAY,BROOKLYN,36047,47,NY,36,11235,7186486100,160.0,7.50,Yes,NaN,51.0,14.0,176.0,0.0,0.0,0.0,0.0,125.0,0.0,0.0,14.4,2,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.68,18,KINGS,NaN
3,AL IMAN SCHOOL,8989 VAN WYCK EXPY,11435.0,40.700908,-73.815220,7,100,AL-IMAN SCHOOL,A9104867,AL-IMAN SCHOOL,2,12,8989 VAN WYCK EXPY,JAMAICA,36081,81,NY,36,11435,7182976522,180.0,6.50,Yes,NaN,32.0,4.0,68.0,0.0,28.0,0.0,1.0,4.0,0.0,3.0,6.1,1,1,2,0.00,77.77,0.00,2.77,11.11,0.0,8.33,5.90,17,QUEENS,NaN
4,AL-IHSAN ACADEMY,130-08 ROCKAWAY BOULEVARD,11420.0,40.674962,-73.808309,1,100,AL-IHSAN ACADEMY,A9300668,AL-IHSAN ACADEMY,2,17,130-08 ROCKAWAY BOULEVARD,SOUTH OZONE PARK,36081,81,NY,36,11420,7183223154,182.0,7.25,Yes,NaN,40.0,35.0,463.0,0.0,329.0,0.0,21.0,73.0,0.0,0.0,38.0,1,3,2,0.00,77.77,0.00,4.96,17.25,0.0,0.00,11.13,17,QUEENS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YESHIVAT LEV TORAH,3300 KINGS HIGHWAY,11234.0,40.618713,-73.942292,4,100,NaN,A9903303,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,14,17,3300 KINGS HIGHWAY,BROOKLYN,36047,47,NY,36,11234,7186775100,180.0,8.00,No,NaN,NaN,NaN,31.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,4.9,1,2,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.32,18,KINGS,3300 KINGS HIGHWAY
497,YESHIVAT OHEL TORAH,2600 OCEAN AVENUE,11229.0,40.598150,-73.951186,2,94,NaN,00943737,BROOKLYN SEVENTH-DAY ADVENTIST SCHOOL,2,13,1260 OCEAN AVENUE,BROOKLYN,36047,47,NY,36,11230,7188591313,182.0,6.75,Yes,NaN,10.0,5.0,89.0,0.0,0.0,0.0,75.0,0.0,0.0,4.0,6.0,1,1,2,0.00,0.00,0.00,94.93,0.00,0.0,5.06,13.16,28,KINGS,1260 OCEAN AVENUE
498,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,A0902443,YESHIVA SHAARE TORAH,3,13,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7183399752,135.0,9.50,No,NaN,NaN,28.0,199.0,0.0,0.0,0.0,0.0,199.0,0.0,0.0,18.8,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,10.58,18,KINGS,1680 CONEY ISLAND AVENUE
499,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,BB161782,YESHIVA SHAARE TORAH,2,17,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7186451196,180.0,8.00,Yes,NaN,124.0,74.0,854.0,0.0,0.0,0.0,0.0,730.0,0.0,0.0,109.9,1,3,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.64,18,KINGS,1680 CONEY ISLAND AVENUE
500,YESHUOS MOSHE OF WILLIAMSBURG,77 WALLABOUT STREET,11249.0,40.699488,-73.958573,4,95,NaN,A1702685,TALMUD TORAH TZEMACH TZADIK VIZNITZ,2,13,7787 WALLABOUT STREET,BROOKLYN,36047,47,NY,36,11249,7187827383,180.0,10.00,Yes,NaN,45.0,21.0,172.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,14.9,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.52,18,KINGS,7787 WALLABOUT STREET

In [10]:
# add a column for "Jewish?": fill "1" if "PSS_ORIENT" == 18, otherwise fill "0"
df['Jewish?'] = np.where(df['PSS_ORIENT'] == 18, 1, 0)
df

,SchoolName,Address,ZipCode,LATITUDE,LONGITUDE,COUNTA of Level,Matched Score,Matched School,PSS_SCHOOL_ID,PSS_INST,LoGrade,HiGrade,PSS_ADDRESS,PSS_CITY,PSS_COUNTY_NO,PSS_COUNTY_FIPS,PSS_STABB,PSS_STATE_CODE,PSS_ZIP5,PSS_PHONE,DAYS PER SCHOOL YEAR,DAY HOURS,PSS_LIBRARY,PSS_ENROLL_UG,PSS_ENROLL_PK,PSS_ENROLL_K,PSS_ENROLL_T,PSS_RACE_ AMERICAN_INDIAN,PSS_RACE_ASIAN/PACIFIC,PSS_RACE_HISPANIC,PSS_RACE_BLACK,PSS_RACE_WHITE,PSS_RACE_PACIFIC,PSS_RACE_MULTICULTURAL,PSS_FULLTIME_TEACH,PSS_COEDUCATION,PSS_LEVEL,PSS_RELIG,PSS_INDIAN_PCT,PSS_ASIAN_PCT,PSS_HISP_PCT,PSS_BLACK_PCT,PSS_WHITE_PCT,PSS_PACISL_PCT,PSS_TWOMORE_PCT,PSS_STUDENT_TEACHER_RATIO,PSS_ORIENT,PSS_COUNTY_NAME,Matched Address,Jewish?
0,ACADEMY OF MOUNT SAINT URSULA,330 BEDFORD PARK BLVD FL 1ST,10458.0,40.869088,-73.884837,0,95,ACADEMY OF MOUNT ST URSULA,00920855,ACADEMY OF MOUNT ST URSULA,14,17,330 BEDFORD PARK BOULEVARD,BRONX,36005,5,NY,36,10458,7183645353,181.0,7.00,Yes,NaN,NaN,NaN,289.0,0.0,15.0,184.0,78.0,8.0,0.0,4.0,18.5,2,2,1,0.00,5.19,63.66,26.98,2.76,0.0,1.38,15.62,1,BRONX,NaN,0
1,ACADEMY OF ST. DOROTHY,1305 HYLAN BOULEVARD,10305.0,40.597122,-74.085236,3,98,ACADEMY OF ST DOROTHY,00920174,ACADEMY OF ST DOROTHY,2,13,1305 HYLAN BOULEVARD,STATEN ISLAND,36085,85,NY,36,10305,7183510939,180.0,6.75,No,NaN,14.0,13.0,191.0,2.0,11.0,6.0,7.0,151.0,0.0,0.0,9.5,1,1,1,1.12,6.21,3.38,3.95,85.31,0.0,0.00,18.63,1,RICHMOND,NaN,0
2,AHI EZER YESHIVA,2433 OCEAN PARKWAY,11235.0,40.590242,-73.965316,4,95,AHI EZER YESHIVA SCHOOL,00936162,AHI EZER YESHIVA SCHOOL,2,13,2433 OCEAN PARKWAY,BROOKLYN,36047,47,NY,36,11235,7186486100,160.0,7.50,Yes,NaN,51.0,14.0,176.0,0.0,0.0,0.0,0.0,125.0,0.0,0.0,14.4,2,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.68,18,KINGS,NaN,1
3,AL IMAN SCHOOL,8989 VAN WYCK EXPY,11435.0,40.700908,-73.815220,7,100,AL-IMAN SCHOOL,A9104867,AL-IMAN SCHOOL,2,12,8989 VAN WYCK EXPY,JAMAICA,36081,81,NY,36,11435,7182976522,180.0,6.50,Yes,NaN,32.0,4.0,68.0,0.0,28.0,0.0,1.0,4.0,0.0,3.0,6.1,1,1,2,0.00,77.77,0.00,2.77,11.11,0.0,8.33,5.90,17,QUEENS,NaN,0
4,AL-IHSAN ACADEMY,130-08 ROCKAWAY BOULEVARD,11420.0,40.674962,-73.808309,1,100,AL-IHSAN ACADEMY,A9300668,AL-IHSAN ACADEMY,2,17,130-08 ROCKAWAY BOULEVARD,SOUTH OZONE PARK,36081,81,NY,36,11420,7183223154,182.0,7.25,Yes,NaN,40.0,35.0,463.0,0.0,329.0,0.0,21.0,73.0,0.0,0.0,38.0,1,3,2,0.00,77.77,0.00,4.96,17.25,0.0,0.00,11.13,17,QUEENS,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YESHIVAT LEV TORAH,3300 KINGS HIGHWAY,11234.0,40.618713,-73.942292,4,100,NaN,A9903303,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,14,17,3300 KINGS HIGHWAY,BROOKLYN,36047,47,NY,36,11234,7186775100,180.0,8.00,No,NaN,NaN,NaN,31.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,4.9,1,2,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.32,18,KINGS,3300 KINGS HIGHWAY,1
497,YESHIVAT OHEL TORAH,2600 OCEAN AVENUE,11229.0,40.598150,-73.951186,2,94,NaN,00943737,BROOKLYN SEVENTH-DAY ADVENTIST SCHOOL,2,13,1260 OCEAN AVENUE,BROOKLYN,36047,47,NY,36,11230,7188591313,182.0,6.75,Yes,NaN,10.0,5.0,89.0,0.0,0.0,0.0,75.0,0.0,0.0,4.0,6.0,1,1,2,0.00,0.00,0.00,94.93,0.00,0.0,5.06,13.16,28,KINGS,1260 OCEAN AVENUE,0
498,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,A0902443,YESHIVA SHAARE TORAH,3,13,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7183399752,135.0,9.50,No,NaN,NaN,28.0,199.0,0.0,0.0,0.0,0.0,199.0,0.0,0.0,18.8,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,10.58,18,KINGS,1680 CONEY ISLAND AVENUE,1
499,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,BB161782,YESHIVA SHAARE TORAH,2,17,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7186451196,180.0,8.00,Yes,NaN,124.0,74.0,854.0,0.0,0.0,0.0,0.0,730.0,0.0,0.0,109.9,1,3,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.64,18,KINGS,1680 CONEY ISLAND AVENUE,1
500,YESHUOS MOSHE OF WILLIAMSBURG,77 WALLABOUT STREET,11249.0,40.699488,-73.958573,4,95,NaN,A1702685,TALMUD TORAH TZEMACH TZADIK VIZNITZ,2,13,7787 WALLABOUT STREET,BROOKLYN,36047,47,NY,36,11249,7187827383,180.0,10.00,Yes,NaN,45.0,21.0,172.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,14.9,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.52,18,KINGS,7787 WALLABOUT STREET,1

In [15]:
# add a column for "Religious?": fill "0" if "PSS_RELIG" == 3, otherwise fill "1"
df['Religious?'] = np.where(df['PSS_RELIG'] == 3, 0, 1)
df

,SchoolName,Address,ZipCode,LATITUDE,LONGITUDE,COUNTA of Level,Matched Score,Matched School,PSS_SCHOOL_ID,PSS_INST,LoGrade,HiGrade,PSS_ADDRESS,PSS_CITY,PSS_COUNTY_NO,PSS_COUNTY_FIPS,PSS_STABB,PSS_STATE_CODE,PSS_ZIP5,PSS_PHONE,DAYS PER SCHOOL YEAR,DAY HOURS,PSS_LIBRARY,PSS_ENROLL_UG,PSS_ENROLL_PK,PSS_ENROLL_K,PSS_ENROLL_T,PSS_RACE_ AMERICAN_INDIAN,PSS_RACE_ASIAN/PACIFIC,PSS_RACE_HISPANIC,PSS_RACE_BLACK,PSS_RACE_WHITE,PSS_RACE_PACIFIC,PSS_RACE_MULTICULTURAL,PSS_FULLTIME_TEACH,PSS_COEDUCATION,PSS_LEVEL,PSS_RELIG,PSS_INDIAN_PCT,PSS_ASIAN_PCT,PSS_HISP_PCT,PSS_BLACK_PCT,PSS_WHITE_PCT,PSS_PACISL_PCT,PSS_TWOMORE_PCT,PSS_STUDENT_TEACHER_RATIO,PSS_ORIENT,PSS_COUNTY_NAME,Matched Address,Jewish?,Religious?
0,ACADEMY OF MOUNT SAINT URSULA,330 BEDFORD PARK BLVD FL 1ST,10458.0,40.869088,-73.884837,0,95,ACADEMY OF MOUNT ST URSULA,00920855,ACADEMY OF MOUNT ST URSULA,14,17,330 BEDFORD PARK BOULEVARD,BRONX,36005,5,NY,36,10458,7183645353,181.0,7.00,Yes,NaN,NaN,NaN,289.0,0.0,15.0,184.0,78.0,8.0,0.0,4.0,18.5,2,2,1,0.00,5.19,63.66,26.98,2.76,0.0,1.38,15.62,1,BRONX,NaN,0,1
1,ACADEMY OF ST. DOROTHY,1305 HYLAN BOULEVARD,10305.0,40.597122,-74.085236,3,98,ACADEMY OF ST DOROTHY,00920174,ACADEMY OF ST DOROTHY,2,13,1305 HYLAN BOULEVARD,STATEN ISLAND,36085,85,NY,36,10305,7183510939,180.0,6.75,No,NaN,14.0,13.0,191.0,2.0,11.0,6.0,7.0,151.0,0.0,0.0,9.5,1,1,1,1.12,6.21,3.38,3.95,85.31,0.0,0.00,18.63,1,RICHMOND,NaN,0,1
2,AHI EZER YESHIVA,2433 OCEAN PARKWAY,11235.0,40.590242,-73.965316,4,95,AHI EZER YESHIVA SCHOOL,00936162,AHI EZER YESHIVA SCHOOL,2,13,2433 OCEAN PARKWAY,BROOKLYN,36047,47,NY,36,11235,7186486100,160.0,7.50,Yes,NaN,51.0,14.0,176.0,0.0,0.0,0.0,0.0,125.0,0.0,0.0,14.4,2,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.68,18,KINGS,NaN,1,1
3,AL IMAN SCHOOL,8989 VAN WYCK EXPY,11435.0,40.700908,-73.815220,7,100,AL-IMAN SCHOOL,A9104867,AL-IMAN SCHOOL,2,12,8989 VAN WYCK EXPY,JAMAICA,36081,81,NY,36,11435,7182976522,180.0,6.50,Yes,NaN,32.0,4.0,68.0,0.0,28.0,0.0,1.0,4.0,0.0,3.0,6.1,1,1,2,0.00,77.77,0.00,2.77,11.11,0.0,8.33,5.90,17,QUEENS,NaN,0,1
4,AL-IHSAN ACADEMY,130-08 ROCKAWAY BOULEVARD,11420.0,40.674962,-73.808309,1,100,AL-IHSAN ACADEMY,A9300668,AL-IHSAN ACADEMY,2,17,130-08 ROCKAWAY BOULEVARD,SOUTH OZONE PARK,36081,81,NY,36,11420,7183223154,182.0,7.25,Yes,NaN,40.0,35.0,463.0,0.0,329.0,0.0,21.0,73.0,0.0,0.0,38.0,1,3,2,0.00,77.77,0.00,4.96,17.25,0.0,0.00,11.13,17,QUEENS,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,YESHIVAT LEV TORAH,3300 KINGS HIGHWAY,11234.0,40.618713,-73.942292,4,100,NaN,A9903303,ZVI DOV ROTH ACADEMY OF YESHIVA RAMBAM,14,17,3300 KINGS HIGHWAY,BROOKLYN,36047,47,NY,36,11234,7186775100,180.0,8.00,No,NaN,NaN,NaN,31.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,4.9,1,2,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.32,18,KINGS,3300 KINGS HIGHWAY,1,1
497,YESHIVAT OHEL TORAH,2600 OCEAN AVENUE,11229.0,40.598150,-73.951186,2,94,NaN,00943737,BROOKLYN SEVENTH-DAY ADVENTIST SCHOOL,2,13,1260 OCEAN AVENUE,BROOKLYN,36047,47,NY,36,11230,7188591313,182.0,6.75,Yes,NaN,10.0,5.0,89.0,0.0,0.0,0.0,75.0,0.0,0.0,4.0,6.0,1,1,2,0.00,0.00,0.00,94.93,0.00,0.0,5.06,13.16,28,KINGS,1260 OCEAN AVENUE,0,1
498,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,A0902443,YESHIVA SHAARE TORAH,3,13,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7183399752,135.0,9.50,No,NaN,NaN,28.0,199.0,0.0,0.0,0.0,0.0,199.0,0.0,0.0,18.8,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,10.58,18,KINGS,1680 CONEY ISLAND AVENUE,1,1
499,YESHIVAT SHAARE TORAH,1680 CONEY ISLAND AVENUE,11230.0,40.616477,-73.963617,5,100,NaN,BB161782,YESHIVA SHAARE TORAH,2,17,1680 CONEY ISLAND AVENUE,BROOKLYN,36047,47,NY,36,11230,7186451196,180.0,8.00,Yes,NaN,124.0,74.0,854.0,0.0,0.0,0.0,0.0,730.0,0.0,0.0,109.9,1,3,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.64,18,KINGS,1680 CONEY ISLAND AVENUE,1,1
500,YESHUOS MOSHE OF WILLIAMSBURG,77 WALLABOUT STREET,11249.0,40.699488,-73.958573,4,95,NaN,A1702685,TALMUD TORAH TZEMACH TZADIK VIZNITZ,2,13,7787 WALLABOUT STREET,BROOKLYN,36047,47,NY,36,11249,7187827383,180.0,10.00,Yes,NaN,45.0,21.0,172.0,0.0,0.0,0.0,0.0,127.0,0.0,0.0,14.9,3,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.52,18,KINGS,7787 WALLABOUT STREET,1,1

## Clean up the columns and data

In [16]:
# create df2 and only keep theses columns: "COUNTA of Level", DAY HOURS, PSS_LIBRARY, PSS_ENROLL_T, PSS_COEDUCATION, PSS_RELIG	PSS_INDIAN_PCT	PSS_ASIAN_PCT	PSS_HISP_PCT	PSS_BLACK_PCT	PSS_WHITE_PCT	PSS_PACISL_PCT	PSS_TWOMORE_PCT	PSS_STUDENT_TEACHER_RATIO, Jewish? , Religious?
df2 = df[['COUNTA of Level', 'DAY HOURS', 'PSS_LIBRARY', 'PSS_ENROLL_T', 'PSS_COEDUCATION', 'PSS_RELIG', 'PSS_INDIAN_PCT', 'PSS_ASIAN_PCT', 'PSS_HISP_PCT', 'PSS_BLACK_PCT', 'PSS_WHITE_PCT', 'PSS_PACISL_PCT', 'PSS_TWOMORE_PCT', 'PSS_STUDENT_TEACHER_RATIO', 'Jewish?', 'Religious?']]
df2

,COUNTA of Level,DAY HOURS,PSS_LIBRARY,PSS_ENROLL_T,PSS_COEDUCATION,PSS_RELIG,PSS_INDIAN_PCT,PSS_ASIAN_PCT,PSS_HISP_PCT,PSS_BLACK_PCT,PSS_WHITE_PCT,PSS_PACISL_PCT,PSS_TWOMORE_PCT,PSS_STUDENT_TEACHER_RATIO,Jewish?,Religious?
0,0,7.00,Yes,289.0,2,1,0.00,5.19,63.66,26.98,2.76,0.0,1.38,15.62,0,1
1,3,6.75,No,191.0,1,1,1.12,6.21,3.38,3.95,85.31,0.0,0.00,18.63,0,1
2,4,7.50,Yes,176.0,2,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.68,1,1
3,7,6.50,Yes,68.0,1,2,0.00,77.77,0.00,2.77,11.11,0.0,8.33,5.90,0,1
4,1,7.25,Yes,463.0,1,2,0.00,77.77,0.00,4.96,17.25,0.0,0.00,11.13,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,4,8.00,No,31.0,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.32,1,1
497,2,6.75,Yes,89.0,1,2,0.00,0.00,0.00,94.93,0.00,0.0,5.06,13.16,0,1
498,5,9.50,No,199.0,3,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,10.58,1,1
499,5,8.00,Yes,854.0,1,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,6.64,1,1
500,4,10.00,Yes,172.0,3,2,0.00,0.00,0.00,0.00,100.00,0.0,0.00,8.52,1,1

In [12]:
# set up R
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [14]:
%%R

# My commonly used R imports

require('tidyverse')

In [8]:
%%R

# A tibble: 501 × 49
   SchoolName               Address ZipCode LATITUDE LONGITUDE `COUNTA of Level`
   <chr>                    <chr>     <dbl>    <dbl>     <dbl>             <dbl>
 1 ACADEMY OF MOUNT SAINT … 330 BE…   10458     40.9     -73.9                 0
 2 ACADEMY OF ST. DOROTHY   1305 H…   10305     40.6     -74.1                 3
 3 AHI EZER YESHIVA         2433 O…   11235     40.6     -74.0                 4
 4 AL IMAN SCHOOL           8989 V…   11435     40.7     -73.8                 7
 5 AL-IHSAN ACADEMY         130-08…   11420     40.7     -73.8                 1
 6 AL-MADINAH SCHOOL        383 3 …   11215     40.7     -74.0                 5
 7 AL-MAMOOR SCHOOL         78-31 …   11366     40.7     -73.8                 1
 8 AL-NOOR SCHOOL           675 4 …   11232     40.7     -74.0                 1
 9 All Hallows high School  111 E …   10452     40.8     -73.9                 2
10 ARCHBISHOP MOLLY HIGH S… 8353 M…   11435     40.7     -73.8                 2
# ℹ 491 more rows
# ℹ 43 more variables: `Matched Score` <dbl>, `Matched School` <chr>,
#   PSS_SCHOOL_ID <chr>, PSS_INST <chr>, LoGrade <dbl>, HiGrade <dbl>,
#   PSS_ADDRESS <chr>, PSS_CITY <chr>, PSS_COUNTY_NO <dbl>,
#   PSS_COUNTY_FIPS <dbl>, PSS_STABB <chr>, PSS_STATE_CODE <dbl>,
#   PSS_ZIP5 <dbl>, PSS_PHONE <dbl>, `DAYS PER SCHOOL YEAR` <dbl>,
#   `DAY HOURS` <dbl>, PSS_LIBRARY <chr>, PSS_ENROLL_UG <dbl>, …
# ℹ Use `print(n = ...)` to see more rows